<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user-layout.html}">
    <head>
        <meta charset="utf-8">
        <title>Parking.Go | Profile Page</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>
    <body>
        <section layout:fragment="user-content">
            <div class="container-xxl py-5">
                <div class="container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#profile">Profile</a>
                        </li>a
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#recharge">Recharge</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#booking">Booking</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content p-1">
                        <div class="tab-pane container active profile" id="profile">
                            <div class="pb-4 pt-4">
                                <h2 class="">// Your Information //</h2>
                            </div>
                            <div class="row g-4 mb-3 pb-3">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <h5 class="mb-2"><i class="fa fa-user"></i> Full Name</h5>
                                    <input type="text" class="mb-4 form-control" th:value="${model.getFullname()}" readonly="true">
                                    <h5 class="mb-2"><i class="fa fa-calendar-alt"></i> Date of Birth</h5>
                                    <input type="date" class="mb-4 form-control" th:value="${model.getDob()}" readonly="true">
                                    <h5 class="mb-2"><i class="fa fa-address-book"></i> Address</h5>
                                    <input type="text" class="form-control" th:value="${model.getBalance()}" readonly="true">
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <h5 class="mb-2"><i class="fa fa-phone-alt"></i> Phone</h5>
                                    <input type="text" class="mb-4 form-control" th:value="${model.getPhone()}" readonly="true">
                                    <h5 class="mb-2"><i class="fa fa-envelope"></i> Email</h5>
                                    <input type="text" class="mb-4 form-control" placeholder="dovanchien@gmail.com" readonly="true">
                                    <h5 class="mb-2"><i class="fa fa-address-card"></i> Identity Card</h5>
                                    <input type="text" class="form-control" th:value="${model.getIdentitycard()}" readonly="true">
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-qrcode">
                                    <img class="qrcode mb-2" th:src="${displaycode}" />
                                    <p>Your QRCode</p>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                    <button type="button" class="btn btn-settings btn-primary mt-0 mb-2 me-2"><i class="fa fa-cogs"></i> Settings</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="recharge">
                            <div class="row g-4 mb-3 pb-3">
                                <div class="pb-1 pt-4">
                                    <h2>// Recharge History //</h2>
                                </div>
                                <table class="table table-bordered table-responsive-md">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Le Thi Rieng Parking Lot</td>
                                            <td>Cach Mang Thang 8, Ward 15, District 10, Ho Chi Minh City, Vietnam</td>
                                            <td>19/6/2022</td>
                                            <td><span class="badge badge-success">Done !</span></td>
                                        </tr>
                                        <tr>
                                            <td>Le Thi Rieng Parking Lot</td>
                                            <td>Cach Mang Thang 8, Ward 15, District 10, Ho Chi Minh City, Vietnam</td>
                                            <td>15/6/2022</td>
                                            <td><span class="badge badge-success">Done !</span></td>
                                        </tr>
                                        <tr>
                                            <td>Le Thi Rieng Parking Lot</td>
                                            <td>Cach Mang Thang 8, Ward 15, District 10, Ho Chi Minh City, Vietnam</td>
                                            <td>12/6/2022</td>
                                            <td><span class="badge badge-success">Done !</span></td>
                                        </tr>
                                        <tr>
                                            <td>Le Thi Rieng Parking Lot</td>
                                            <td>Cach Mang Thang 8, Ward 15, District 10, Ho Chi Minh City, Vietnam</td>
                                            <td>8/6/2022</td>
                                            <td><span class="badge badge-success">Done !</span></td>
                                        </tr>
                                        <tr>
                                            <td>Le Thi Rieng Parking Lot</td>
                                            <td>Cach Mang Thang 8, Ward 15, District 10, Ho Chi Minh City, Vietnam</td>
                                            <td>1/6/2022</td>
                                            <td><span class="badge badge-success">Done !</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="booking">
                            <div class="row g-4 mb-3 pb-3">
                                <div class="pb-1 pt-4">
                                    <h2>// Booking History //</h2>
                                </div>
                                <table class="table table-bordered table-responsive-md">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Le Thi Rieng Parking Lot</td>
                                            <td>Cach Mang Thang 8, Ward 15, District 10, Ho Chi Minh City, Vietnam</td>
                                            <td>19/6/2022</td>
                                            <td><span class="badge badge-success">Done !</span></td>
                                        </tr>
                                        <tr>
                                            <td>Le Thi Rieng Parking Lot</td>
                                            <td>Cach Mang Thang 8, Ward 15, District 10, Ho Chi Minh City, Vietnam</td>
                                            <td>15/6/2022</td>
                                            <td><span class="badge badge-success">Done !</span></td>
                                        </tr>
                                        <tr>
                                            <td>Le Thi Rieng Parking Lot</td>
                                            <td>Cach Mang Thang 8, Ward 15, District 10, Ho Chi Minh City, Vietnam</td>
                                            <td>12/6/2022</td>
                                            <td><span class="badge badge-success">Done !</span></td>
                                        </tr>
                                        <tr>
                                            <td>Le Thi Rieng Parking Lot</td>
                                            <td>Cach Mang Thang 8, Ward 15, District 10, Ho Chi Minh City, Vietnam</td>
                                            <td>8/6/2022</td>
                                            <td><span class="badge badge-success">Done !</span></td>
                                        </tr>
                                        <tr>
                                            <td>Le Thi Rieng Parking Lot</td>
                                            <td>Cach Mang Thang 8, Ward 15, District 10, Ho Chi Minh City, Vietnam</td>
                                            <td>1/6/2022</td>
                                            <td><span class="badge badge-success">Done !</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
